.container
{
    height: 100px;
    width: 100%;
    background-color: white;
    display: grid;
    margin-top: 10px;
}

.cell 
{
    background: white;
}

.hovered
{
    background: black;
}

button
{
    font-size: 5px;
    height: 12px;
    width: auto;
}